@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
:root{
    --colorPrincipal: #000;
    --colorLetras: #fff;
    --colorTransparencia: #0000005e;
    --colorBotones: #345eaf;
    --colorDrone: #e28e66;
    --tamanoGif: 55px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--colorPrincipal);
    font-family: 'Orbitron', sans-serif;
}
/******************Menu*************************/
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 100;
}
header .logo img{
    max-width: 250px;
}
.navigation{
    display: flex;
}
.navigation li {
    list-style: none;
    margin: 0 10px;
}
.navigation li a{
    color: var(--colorLetras);
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 1px;
}
.navigation li:hover a{
    opacity: .7;
}
.search{
    position: relative;
    width: 300px;
    height: 40px;
    background: var(--colorTransparencia);
}
.search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--colorLetras);
    font-size: 1em;
    font-weight: 400;
    background: transparent;
    border: 1px solid var(--colorLetras);
    outline: none;
    border-radius: 2px;
    padding: 0 12px 0 45px;
}
.search input::placeholder{
    color: var(--colorLetras);
    font-weight: 500;
}
.search ion-icon{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 7px;
    color: var(--colorLetras);
    font-size: 20px;
    border-right: 1px solid var(--colorLetras);
}
/************************************************************/
/*********************Banner*********************************/
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 120px 100px;
    justify-content: flex-start;
    align-items: center;
}
.banner .bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position: relative;
    z-index: 1;
    max-width: 650px;
}
.movieTitle{
    max-width: 250px;
}
.banner .content h4{
    color: var(--colorLetras);
    font-weight: 500;
}
.banner .content h4 span{
    padding: 0 10px;
    border-right: 1px solid var(--colorLetras);
}
.banner .content h4 span:first-child{
    padding: 0;
}
.banner .content h4 span:last-child{
    border-right: none;
}
.banner .content p{
    opacity: .7;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5em;
    color: var(--colorLetras);
    margin: 15px 0 15px;
}
.banner .content .buttons a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--colorBotones);
    color: var(--colorLetras);
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.banner .content .buttons a ion-icon{
    font-size: 18px;
    vertical-align: middle;
}
.banner .content .buttons a:nth-child(2){
    background: var(--colorTransparencia);
    border: 1px solid var(--colorBotones);
}
.banner .content .buttons :hover:nth-child(2){
    color: var(--colorBotones);
    background: var(--colorLetras);
}
/************************************************************/
/********************Video***********************************/
.play{
    position: absolute;
    bottom: 50px;
    left: 100px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--colorLetras);
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.2em;
    cursor: pointer;
}
.play::before{
    content:"";
    position: absolute;
    left: 15px;
    z-index: 1;
    background-image: url('img/drone.gif');
    background-size: var(--tamanoGif);
    background-repeat: no-repeat;
    width: var(--tamanoGif); 
    height: var(--tamanoGif);
}
.play ion-icon{
    font-size: 85px;
    color: var(--colorDrone);
    opacity: .6;
    margin-right: 5px;
}
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 500;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    visibility: hidden;
    opacity: 0;
}
.trailer.active{
    visibility: visible;
    opacity: 1;
}
.trailer video{
    max-width: 900px;
    outline: none;
}
.trailer ion-icon{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 32px;
    color: var(--colorBotones);
}